[flake8]

# E704: the linter doesn't parse types properly
# T499, T484: silence mypy since we use pyre for type checking
# W503: black and flake8 disagree on how to place operators
# E231: black and flake8 disagree on whitespace after ','
# E203: black and flake8 disagree on whitespace before ':'
ignore = T484, T499, W503, E704, E231, E203

# make line length the same as for black
max-line-length = 88
