@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

html body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.headerTitle {
  font-weight: 400
}

.homeContainer {
  background: #f0bc40;
  padding: 50px 0px;
}

.projectTitle {
  color: #dc3b26;
  font-variant: small-caps;
  font-weight: 300;
}

.promoSection .button {
  border: 1px solid #fff;
  color: #dc3b26;
}

.promoSection .button:hover {
  background: #f29837;
  border: 1px solid #dc3b26;
  color: #fff;
}

.landingPage {
    padding: 0px;
}

div.productShowcaseSection {
  padding-top: 40px;
}

.productShowcaseSection > h2 {
  font-variant: small-caps;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

.productShowcaseSection div.container {
  padding: 40px 0px;
}

.productShowcaseSection div.blockImage  {
  height: 80px;
}

.blockContent > h2 {
  color: #f29837;
}

.productShowcaseSection li {
  padding: 10px 0;
}

.productShowcaseSection pre {
  margin: 10px 0;
}

.productShowcaseSection code {
  background: #fff;
}

div#quickstart  {
  background: #f1f1f2;
}

div#quickstart ol {
  margin-bottom: 0px;
}

p a {
  color: #f29837;
}

p a:hover {
  color: #f29837;
  border-bottom: 1px dotted #f29837;
}

/* Style tutorials */
.tutorialBody {
  margin-top: -20px;
}

.tutorialBody h1 {
  margin: 0px;
}

.tutorialBody pre {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  margin: 0px;
}

.tutorialBody .input_prompt {
  color: darkred;
  font-size: 12px;
}

.tutorialBody .highlight {
  background: #f3f4f7;
  padding: 10px 20px;
  border: lightgray 1px solid;
  border-radius: 3px;
}

.tutorialBody .cell {
  margin: 20px;
}

.tutorialBody .output_stderr {
  background-color: #fdede9;
}

.tutorialBody .anchor-link {
  color: lightgray;
}

.tutorialButtonWrapper {
  margin: 20px;
}
.tutorialButton > img {
  margin-right: 5px;
}

.tutorialButton {
  color: #f29837;
}

.tutorialButton svg {
  height: 15px;
  margin-right: 5px;
  fill: #f29837;
}

.tutorialButton:hover {
  background-color: #353d47;
  color: #dc3b26;
}

.tutorialButton:hover svg path {
  fill: #dc3b26;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
