@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

html body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.fixedHeaderContainer {
    background-color: #222222;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.navigationSlider .slidingNav ul li a {
  color: #F7931E;
}

.navigationSlider .slidingNav ul li a:hover {
  color: #ffffff;
  background-color: inherit;
}

.navigationSlider .slidingNav ul li.siteNavItemActive > a, .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: inherit;
}

.homeContainer {
  background: #353d47;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1), rgba(147,49,157,1) 0%, rgba(241,90,36,1) 100%);
  padding: 50px 0px;
}

.projectTitle {
  color: #ffffff;
  font-variant: small-caps;
  font-weight: 300;
}

.promoSection .button {
  border: 1px solid #fff;
  color: #ffffff;
}

.promoSection .button:hover {
  background-color: inherit;
  border: 1px solid #ffffff;
  color: #fff;
}

.landingPage {
    padding: 0px;
}

div.productShowcaseSection {
  padding-top: 40px;
}

.productShowcaseSection > h2 {
  font-variant: small-caps;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

.productShowcaseSection div.container {
  padding: 40px 0px;
}

.productShowcaseSection div.blockImage  {
  height: 80px;
}

.blockContent > h2 {
  color: #F7931E;
}

.productShowcaseSection li {
  padding: 10px 0;
}

.productShowcaseSection pre {
  margin: 10px 0;
}

.productShowcaseSection code {
  background: #fff;
}

.productShowcaseSection {
  color: #6C6C6C;
}

.productShowcaseSection h2 {
  color: #1C60F7;
}

.container .wrapper .alignCenter h2 {
  color: #6C6C6C;
}

div#quickstart  {
  background: #EFEFEF;
}

div#quickstart ol {
  margin-bottom: 0px;
}

.nav-footer {
  background-color: #222222;
}

.nav-footer .sitemap a {
  color: #F7931E;
}

.nav-footer .sitemap a:hover {
  color: #ffffff;
}

p a {
  color: #f29837;
}

p a:hover {
  color: #f29837;
  border-bottom: 1px dotted #f29837;
}

/* Style docs */
.toc .toggleNav .navGroup .navGroupCategoryTitle {
  color: #222222;
}

.toc .toggleNav ul li a {
  color: #6C6C6C;
}

.toc .toggleNav ul li a:hover {
  color: #F15A24;
}

.toc .toggleNav .navGroup .navListItemActive a {
  color: #1C60F7;
}

.mainContainer .wrapper .post .postHeaderTitle {
  color: #222222;
}

.mainContainer .wrapper .post h1, .mainContainer .wrapper .post h2, .mainContainer .wrapper .post h3 {
  color: #222222;
}

.mainContainer .wrapper .post {
  color: #6C6C6C;
}

.mainContainer .wrapper .post strong {
  color: #222222;
}

.mainContainer .wrapper .post a {
  color: #1C60F7;
}

.mainContainer .wrapper .post a:hover {
  color: #1C60F7;
  border: 0px;
}

a.edit-page-link {
  color: #F7931E !important;
  border: 1px solid #F7931E;
}

a.edit-page-link:hover {
  color: #F7931E;
  border: 1px solid #F7931E !important;
  background-color: inherit;
}

a.docs-next, a.docs-prev {
  color: #F7931E;
  border: 1px solid #F7931E;
}

a.docs-next:hover, a.docs-prev:hover {
  color: #F7931E;
  border: 1px solid #F7931E;
  background-color: inherit;
}

/* Style tutorials */
.tutorialBody {
  margin-top: -20px;
  color: #6C6C6C;
}

.tutorialBody h1, .tutorialBody h2, .tutorialBody h3 {
  color: #222222
}

.tutorialBody a {
  color: #1C60F7;
}

.tutorialBody a:hover {
  color: #1C60F7;
  border: 0px;
}

.tutorialBody h1 {
  margin: 0px;
}

.tutorialBody pre {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  margin: 0px;
}

.tutorialBody .input_prompt, .tutorialBody .output_prompt {
  color: darkred;
  font-size: 12px;
}

.tutorialBody .highlight {
  background: #f3f4f7;
  padding: 10px 20px;
  border: lightgray 1px solid;
  border-radius: 3px;
}

.tutorialBody .cell {
  margin: 20px;
}

.tutorialBody .output_stderr {
  background-color: #fdede9;
}

.tutorialBody .anchor-link {
  color: lightgray;
}

.tutorialButtonWrapper {
  margin: 20px;
}

.tutorialButton {
  color: #f29837;
}

.tutorialButton svg {
  height: 15px;
  margin-right: 5px;
  fill: #f29837;
}

.tutorialButton:hover {
  background-color: #353d47;
  color: #dc3b26;
}

.tutorialButton:hover svg path {
  fill: #dc3b26;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
