name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:


jobs:

  ufmt:
    name: Code formatting and sorting with ufmt
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        pip install ufmt
    - name: ufmt
      # TODO: Show mismatches in logs: https://github.com/omnilib/ufmt/issues/2
      run: |
        ufmt check .

  flake8:
    name: Lint with flake8
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        pip install flake8
    - name: Flake8
      run: |
        flake8
